  'zbrowserify:#ECMASCRIPT#': '
    echo "Browserify skipped."
  '

  'zprebrowserify:#ECMASCRIPT#': '
    mkdirp ./dist/#ECMASCRIPT#/electron/
  '

  'z__browserify:#ECMASCRIPT#': '
    browserify
      ./dist/#ECMASCRIPT#/src/electron/renderer/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/linklist/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/linklistgroup/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/linktree/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/menuselect/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/material-components-web.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riot.js
      --external
      "node_modules/electron/**/*.js"
      --exclude
      electron
      --no-builtins
      --no-commondir
      --ignore-missing
      --insert-globals
      --no-browser-field
      --xxfull-paths
      --debug
      --outfile
      ./dist/#ECMASCRIPT#/electron/renderer-browserify-with-sourcemap.js &&

    cat ./dist/#ECMASCRIPT#/electron/renderer-browserify-with-sourcemap.js |

    exorcist
      --root
      ../../../
      ./dist/#ECMASCRIPT#/electron/renderer-browserify_.js.map >
      ./dist/#ECMASCRIPT#/electron/renderer-browserify_.js &&

    sorcery
      --input
      ./dist/#ECMASCRIPT#/electron/renderer-browserify_.js
      --output ./dist/#ECMASCRIPT#/electron/renderer-browserify.js &&

    uglifyjs
      ./dist/#ECMASCRIPT#/electron/renderer-browserify.js
      --output
      ./dist/#ECMASCRIPT#/electron/renderer-browserify.min.js
      --compress
      --mangle
      --ecma 5
      --source-map
      "root=\'\',url=\'browserify.min.js.map\',content=\'./dist/#ECMASCRIPT#/electron/renderer-browserify.js.map\'" &&

    rimraf ./dist/#ECMASCRIPT#/electron/renderer-browserify_.js &&
    rimraf ./dist/#ECMASCRIPT#/electron/renderer-browserify_.js.map &&
    rimraf ./dist/#ECMASCRIPT#/electron/renderer-browserify-with-sourcemap.js
  '

  'browserify:#ECMASCRIPT#': '
    echo "Browserify skipped."
  '

  'prebrowserify:#ECMASCRIPT#': '
    mkdirp ./dist/#ECMASCRIPT#/electron/
  '

  '__browserify:#ECMASCRIPT#': '
    npm run browserify-do:#ECMASCRIPT# &&
    npm run browserify-exorcist:#ECMASCRIPT#_ &&
    npm run browserify-sorcery:#ECMASCRIPT#_ &&
    npm run browserify-uglifyjs:#ECMASCRIPT#_
  '

  'browserify-do:#ECMASCRIPT#': '
    browserify
      ./dist/#ECMASCRIPT#/src/electron/renderer/index.js
      --xxlist
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/linklist/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/linklistgroup/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/linktree/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/menuselect/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/material-components-web.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riot.js
      --external
      "node_modules/electron/**/*.js"
      --exclude
      electron
      --no-builtins
      --no-commondir
      --ignore-missing
      --insert-globals
      --no-browser-field
      --xxfull-paths
      --debug
      --outfile
      ./dist/#ECMASCRIPT#/electron/renderer-browserify-with-sourcemap.js
  '

  'browserify-exorcist:#ECMASCRIPT#': '
    cat ./dist/#ECMASCRIPT#/electron/renderer-browserify-with-sourcemap.js |
    exorcist
      --root
      ../../../
      ./dist/#ECMASCRIPT#/electron/renderer-browserify_.js.map >
      ./dist/#ECMASCRIPT#/electron/renderer-browserify_.js
  '

  'browserify-sorcery:#ECMASCRIPT#': '
    sorcery
      --input
      ./dist/#ECMASCRIPT#/electron/renderer-browserify_.js
      --output
      ./dist/#ECMASCRIPT#/electron/renderer-browserify.js
  '

  'browserify-uglifyjs:#ECMASCRIPT#': '
    uglifyjs
      ./dist/#ECMASCRIPT#/electron/renderer-browserify.js
      --output
      ./dist/#ECMASCRIPT#/electron/renderer-browserify.min.js
      --compress
      --mangle
      --ecma 8
      --source-map
      "root=\'\',url=\'browserify.min.js.map\',content=\'./dist/#ECMASCRIPT#/electron/renderer-browserify.js.map\'" &&

    rimraf ./dist/#ECMASCRIPT#/electron/renderer-browserify_.js &&
    rimraf ./dist/#ECMASCRIPT#/electron/renderer-browserify_.js.map &&
    rimraf ./dist/#ECMASCRIPT#/electron/renderer-browserify-with-sourcemap.js
  '

  '___browserify:#ECMASCRIPT#_': '
    browserify
      ./dist/#ECMASCRIPT#/src/electron/renderer/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/linklist/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/linklistgroup/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/linktree/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riots/menuselect/index.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/material-components-web.js
      --require
      ./dist/#ECMASCRIPT#/src/electron/renderer/riot.js
      --external
      "node_modules/electron/**/*.js"
      --exclude
      electron
      --no-builtins
      --no-commondir
      --ignore-missing
      --insert-globals
      --no-browser-field
      --xxfull-paths
      --debug |

    uglifyjs
      --compress
      --mangle
      --ecma 8
      --source-map
      "root=\'../../../\',url=\'browserify_.min.js.map\',content=\'inline\'"
      --output
      ./dist/#ECMASCRIPT#/electron/renderer-browserify_.min.js &&

    sorcery
      --input
      ./dist/#ECMASCRIPT#/electron/renderer-browserify_.min.js
      --output
      ./dist/#ECMASCRIPT#/electron/renderer-browserify.min.js
  '
