  'browserify:all': '
    npm run browserify:es5 &&
    npm run browserify:es6-es2015 &&
    npm run browserify:es7-es2016 &&
    npm run browserify:es8-es2017
  '

  'browserify:es5': '
    echo "Browserify skipped."
  '

  'prebrowserify:es5': '
    mkdirp ./dist/es5/electron/
  '

  '__browserify:es5': '
    browserify
      ./dist/es5/src/electron/renderer/index.js
      --require
      ./dist/es5/src/electron/renderer/riots/linklist/index.js
      --require
      ./dist/es5/src/electron/renderer/riots/linklistgroup/index.js
      --require
      ./dist/es5/src/electron/renderer/riots/linktree/index.js
      --require
      ./dist/es5/src/electron/renderer/riots/menuselect/index.js
      --require
      ./dist/es5/src/electron/renderer/material-components-web.js
      --require
      ./dist/es5/src/electron/renderer/riot.js
      --external
      "node_modules/electron/**/*.js"
      --exclude
      electron
      --no-builtins
      --no-commondir
      --ignore-missing
      --insert-globals
      --no-browser-field
      --xxfull-paths
      --debug
      --outfile
      ./dist/es5/electron/renderer-browserify-with-sourcemap.js &&

    cat ./dist/es5/electron/renderer-browserify-with-sourcemap.js |

    exorcist
      --root
      ../../../
      ./dist/es5/electron/renderer-browserify_.js.map >
      ./dist/es5/electron/renderer-browserify_.js &&

    sorcery
      --input
      ./dist/es5/electron/renderer-browserify_.js
      --output ./dist/es5/electron/renderer-browserify.js &&

    uglifyjs
      ./dist/es5/electron/renderer-browserify.js
      --output
      ./dist/es5/electron/renderer-browserify.min.js
      --compress
      --mangle
      --ecma 5
      --source-map
      "root=\'\',url=\'browserify.min.js.map\',content=\'./dist/es5/electron/renderer-browserify.js.map\'" &&

    rimraf ./dist/es5/electron/renderer-browserify_.js &&
    rimraf ./dist/es5/electron/renderer-browserify_.js.map &&
    rimraf ./dist/es5/electron/renderer-browserify-with-sourcemap.js
  '

  'browserify:es6-es2015': '
    echo "Browserify skipped."
  '

  'prebrowserify:es6-es2015': '
    mkdirp ./dist/es6-es2015/electron/
  '

  '__browserify:es6-es2015': '
    browserify
      ./dist/es6-es2015/src/electron/renderer/index.js
      --require
      ./dist/es6-es2015/src/electron/renderer/riots/linklist/index.js
      --require
      ./dist/es6-es2015/src/electron/renderer/riots/linklistgroup/index.js
      --require
      ./dist/es6-es2015/src/electron/renderer/riots/linktree/index.js
      --require
      ./dist/es6-es2015/src/electron/renderer/riots/menuselect/index.js
      --require
      ./dist/es6-es2015/src/electron/renderer/material-components-web.js
      --require
      ./dist/es6-es2015/src/electron/renderer/riot.js
      --external
      "node_modules/electron/**/*.js"
      --exclude
      electron
      --no-builtins
      --no-commondir
      --ignore-missing
      --insert-globals
      --no-browser-field
      --xxfull-paths
      --debug
      --outfile
      ./dist/es6-es2015/electron/renderer-browserify-with-sourcemap.js &&

    cat ./dist/es6-es2015/electron/renderer-browserify-with-sourcemap.js |

    exorcist
      --root
      ../../../
      ./dist/es6-es2015/electron/renderer-browserify_.js.map >
      ./dist/es6-es2015/electron/renderer-browserify_.js &&

    sorcery
      --input
      ./dist/es6-es2015/electron/renderer-browserify_.js
      --output
      ./dist/es6-es2015/electron/renderer-browserify.js &&

    uglifyjs
      ./dist/es6-es2015/electron/renderer-browserify.js
      --output
      ./dist/es6-es2015/electron/renderer-browserify.min.js
      --compress
      --mangle
      --ecma 6
      --source-map
      "root=\'\',url=\'browserify.min.js.map\',content=\'./dist/es6-es2015/electron/renderer-browserify.js.map\'" &&

    rimraf ./dist/es6-es2015/electron/renderer-browserify_.js &&
    rimraf ./dist/es6-es2015/electron/renderer-browserify_.js.map &&
    rimraf ./dist/es6-es2015/electron/renderer-browserify-with-sourcemap.js
  '

  'browserify:es7-es2016': '
    echo "Browserify skipped."
  '

  'prebrowserify:es7-es2016': '
    mkdirp ./dist/es7-es2016/electron/
  '

  '__browserify:es7-es2016': '
    browserify
      ./dist/es7-es2016/src/electron/renderer/index.js
      --require
      ./dist/es7-es2016/src/electron/renderer/riots/linklist/index.js
      --require
      ./dist/es7-es2016/src/electron/renderer/riots/linklistgroup/index.js
      --require
      ./dist/es7-es2016/src/electron/renderer/riots/linktree/index.js
      --require
      ./dist/es7-es2016/src/electron/renderer/riots/menuselect/index.js
      --require
      ./dist/es7-es2016/src/electron/renderer/material-components-web.js
      --require
      ./dist/es7-es2016/src/electron/renderer/riot.js
      --external
      "node_modules/electron/**/*.js"
      --exclude
      electron
      --no-builtins
      --no-commondir
      --ignore-missing
      --insert-globals
      --no-browser-field
      --xxfull-paths
      --debug
      --outfile
      ./dist/es7-es2016/electron/renderer-browserify-with-sourcemap.js &&

    cat ./dist/es7-es2016/electron/renderer-browserify-with-sourcemap.js |

    exorcist
      --root
      ../../../
      ./dist/es7-es2016/electron/renderer-browserify_.js.map >
      ./dist/es7-es2016/electron/renderer-browserify_.js &&

    sorcery
      --input
      ./dist/es7-es2016/electron/renderer-browserify_.js
      --output
      ./dist/es7-es2016/electron/renderer-browserify.js &&

    uglifyjs
      ./dist/es7-es2016/electron/renderer-browserify.js
      --output
      ./dist/es7-es2016/electron/renderer-browserify.min.js
      --compress
      --mangle
      --ecma 7
      --source-map
      "root=\'\',url=\'browserify.min.js.map\',content=\'./dist/es7-es2016/electron/renderer-browserify.js.map\'" &&

    rimraf ./dist/es7-es2016/electron/renderer-browserify_.js &&
    rimraf ./dist/es7-es2016/electron/renderer-browserify_.js.map &&
    rimraf ./dist/es7-es2016/electron/renderer-browserify-with-sourcemap.js
  '

  'browserify:es8-es2017': '
    echo "Browserify skipped."
  '

  'prebrowserify:es8-es2017': '
    mkdirp ./dist/es8-es2017/electron/
  '

  '__browserify:es8-es2017': '
    npm run browserify-do:es8-es2017 &&
    npm run browserify-exorcist:es8-es2017_ &&
    npm run browserify-sorcery:es8-es2017_ &&
    npm run browserify-uglifyjs:es8-es2017_
  '

  'browserify-do:es8-es2017': '
    browserify
      ./dist/es8-es2017/src/electron/renderer/index.js
      --xxlist
      --require
      ./dist/es8-es2017/src/electron/renderer/riots/linklist/index.js
      --require
      ./dist/es8-es2017/src/electron/renderer/riots/linklistgroup/index.js
      --require
      ./dist/es8-es2017/src/electron/renderer/riots/linktree/index.js
      --require
      ./dist/es8-es2017/src/electron/renderer/riots/menuselect/index.js
      --require
      ./dist/es8-es2017/src/electron/renderer/material-components-web.js
      --require
      ./dist/es8-es2017/src/electron/renderer/riot.js
      --external
      "node_modules/electron/**/*.js"
      --exclude
      electron
      --no-builtins
      --no-commondir
      --ignore-missing
      --insert-globals
      --no-browser-field
      --xxfull-paths
      --debug
      --outfile
      ./dist/es8-es2017/electron/renderer-browserify-with-sourcemap.js
  '

  'browserify-exorcist:es8-es2017': '
    cat ./dist/es8-es2017/electron/renderer-browserify-with-sourcemap.js |
    exorcist
      --root
      ../../../
      ./dist/es8-es2017/electron/renderer-browserify_.js.map >
      ./dist/es8-es2017/electron/renderer-browserify_.js
  '

  'browserify-sorcery:es8-es2017': '
    sorcery
      --input
      ./dist/es8-es2017/electron/renderer-browserify_.js
      --output
      ./dist/es8-es2017/electron/renderer-browserify.js
  '

  'browserify-uglifyjs:es8-es2017': '
    uglifyjs
      ./dist/es8-es2017/electron/renderer-browserify.js
      --output
      ./dist/es8-es2017/electron/renderer-browserify.min.js
      --compress
      --mangle
      --ecma 8
      --source-map
      "root=\'\',url=\'browserify.min.js.map\',content=\'./dist/es8-es2017/electron/renderer-browserify.js.map\'" &&

    rimraf ./dist/es8-es2017/electron/renderer-browserify_.js &&
    rimraf ./dist/es8-es2017/electron/renderer-browserify_.js.map &&
    rimraf ./dist/es8-es2017/electron/renderer-browserify-with-sourcemap.js
  '

  '___browserify:es8-es2017_': '
    browserify
      ./dist/es8-es2017/src/electron/renderer/index.js
      --require
      ./dist/es8-es2017/src/electron/renderer/riots/linklist/index.js
      --require
      ./dist/es8-es2017/src/electron/renderer/riots/linklistgroup/index.js
      --require
      ./dist/es8-es2017/src/electron/renderer/riots/linktree/index.js
      --require
      ./dist/es8-es2017/src/electron/renderer/riots/menuselect/index.js
      --require
      ./dist/es8-es2017/src/electron/renderer/material-components-web.js
      --require
      ./dist/es8-es2017/src/electron/renderer/riot.js
      --external
      "node_modules/electron/**/*.js"
      --exclude
      electron
      --no-builtins
      --no-commondir
      --ignore-missing
      --insert-globals
      --no-browser-field
      --xxfull-paths
      --debug |

    uglifyjs
      --compress
      --mangle
      --ecma 8
      --source-map
      "root=\'../../../\',url=\'browserify_.min.js.map\',content=\'inline\'"
      --output
      ./dist/es8-es2017/electron/renderer-browserify_.min.js &&

    sorcery
      --input
      ./dist/es8-es2017/electron/renderer-browserify_.min.js
      --output
      ./dist/es8-es2017/electron/renderer-browserify.min.js
  '
