.switchWrap {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
#tabsPanels {
  width: 100%;
  overflow: hidden;
  /* border: 2px solid red; */
  box-sizing: border-box;
  display: inline-flex;
  margin-top: 1px;
}
.tabPanel {
  width: 100%;
  display: none;

  overflow-x: hidden;
  overflow-y: auto;
  /* width: 100%; */
}
.tabPanel.active {
  display: block;
}

/* riot-linktree,
[data-is="riot-linktree"] */
#reader_controls_TOC,
#reader_controls_TOC ul {
  padding-left: 0;
  list-style: none;
  border-left: 1px solid #DDDDDD;
}

#reader_controls_ADVANCED,
#reader_controls_TOOLS,
#reader_controls_STYLES {
  padding: 1em;
}
#reader_controls_TOC a:focus {
  background-color: rgba(230, 230, 230, 1);
}

#tabsPanels .mdc-list-item__text {
  max-width: 100%;
}
#tabsPanels .mdc-list-item__secondary-text {
  word-wrap: break-word;
}
.settingSlider {
  margin-top: -22px;
}
