#nav-select.mdc-select {
  width: 100% !important;
}
#nav-select-menu.mdc-select__menu {
  margin-left: 10px;
  width: 236px; /* 256px for aside drawer - 10x2 margin*/
}
/*
#nav-select .mdc-select__surface {
  padding-bottom: 0px;
}
#nav-select .mdc-select__label {
  padding-left: 10px;
}
#nav-select .mdc-select__selected-text {
  padding-left: 8px;
}
#nav-select-menu > ul {
  padding-top: 2px;
  padding-bottom: 2px;
}
*/
#nav-select-menu > ul > li.mdc-list-item {
  padding-left: 46px;
}
#nav-select-menu > ul > li.mdc-list-item::after {

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  display: inline-block;

  vertical-align: bottom;

  position: absolute;
  left: 8px;
  top: 11px;

  background: transparent;
  opacity: 1;
}

/* https://github.com/google/material-design-icons/blob/master/iconfont/codepoints */

/* home */
#selectTOC::after {
    content: "\E88A";
}
/* place */
#selectLandmarks::after {
    content: "\E55F";
}
/* format_list_bulleted */
#selectPageList::after {
    content: "\E241";
}
/* linear_scale */
#selectSpine::after {
    content: "\E260";
}
/* bookmarks */
#selectBookmarks::after {
    content: "\e866";
}
/* format_color_text */
#selectStyles::after {
    content: "\E8F4";
}
/* settings */
#selectAdvanced::after {
    content: "\E8B8";
}
